<h1>Swing Dance Events</h1>

<div class="row" ng-controller="EventsCtrl">
  <div class="col-md-9">
    <div class="input-group">
      <input type="text" ng-model="search.name" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
          Search
        </button>
      </span>
    </div>
    
    <div class="table-responsive">
      <%= render "table" %>
    </div>
  </div>
  
  <%= render "form" %>
  <%= render "modal" %>
</div>
