%h1 Swing Dance Events
.row{"ng-controller" => "EventsCtrl"}
  .col-md-9
    .input-group
      %input.form-control{"ng-model" => "search.name", :type => "text"}
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"}
            %span.glyphicon.glyphicon-search
            Search
    .table-responsive
      = render "table"
  = render "form"
  = render "modal"